<div class="task-input">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Write a note
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="input-block">
        <mat-form-field>
          <input matInput placeholder="Title">
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="note"></textarea>
        </mat-form-field>
      </div>
      <div class="button-block">
        <button mat-raised-button color="primary" type="submit">SAVE</button>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</div>
